name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BATON_API_KEY: ${{ secrets.BATON_API_KEY }}
      BATON_LOG_LEVEL: debug
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build baton-opsgenie
        run: go build ./cmd/baton-opsgenie
      - name: Run baton-opsgenie
        run: ./baton-opsgenie
